@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-btn {
    background-color: #15803d; /* Green background */
    color: white; /* White text */
    border-color: #15803d; /* Green border */
  }